<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header, .bio, .gallery {
            padding: 20px;
            text-align: center;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f0f0f0;
        }
        .header .designation {
            flex: 1;
            text-align: left;
            padding: 20px;
        }
        .header .photo {
            flex: 1;
            text-align: right;
            padding: 20px;
        }
        .header img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        .bio {
            background-color: #e0e0e0;
        }
        .gallery {
            background-color: #d0d0d0;
        }
        .gallery img {
            margin: 10px;
            border-radius: 5px;
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body>

    <div class="header">
        <div class="designation">
            <h1>Manobendra Nath Mondal</h1>
            <p>Assistant Professor in Scool of Computer Science</p>
            <p>UPES, Bidholi, Dehradun, Uttrakhand, India</p>
            <p>Email: manobmondal@gmail.com</p>
            <p>Contact: 09681194274 </p>
        </div>
        <div class="photo">
            <img src="photo/myPhoto.jpeg" alt="Manob's Photo">
        </div>
    </div>

    <div class="bio">
        <h2>About Me</h2>
        <p> Hello! I am Dr. Manobendra Nath Mondal, currently working as an Assistant Professor at School of Computer Science
             at UPES, Dehradun, Uttrakhand, India. He completed his Ph.D. in Computer Science from Indian 
             Statistical Institute, Kolkata. My research focuses on cutting-edge areas such as digital testing, 
             emerging computing with memristors, and memristive neuromorphic computing.</p>
    </div>

    <div class="gallery">
        <h2>Photo Gallery</h2>
        <img src="photo/myPhoto.jpeg" alt="Photo 1">
        <img src="photo/myPhoto.jpeg" alt="Photo 2">
        <img src="photo/myPhoto.jpeg" alt="Photo 3">
        <img src="photo/myPhoto.jpeg" alt="Photo 4">
    </div>

</body>
