<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        .header, .bio, .gallery {
            padding: 20px;
            text-align: center;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f0f0f0;
        }
        .header .designation {
            flex: 1;
            text-align: left;
            padding: 20px;
        }
        .header .photo {
            flex: 1;
            text-align: right;
            padding: 20px;
        }
        .header img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
        .bio {
            background-color: #e0e0e0;
        }
        .gallery {
            background-color: #d0d0d0;
        }
        .gallery img {
            margin: 10px;
            border-radius: 5px;
            width: 150px;
            height: 150px;
        }
    </style>
</head>
<body>

    <div class="header">
        <div class="designation">
            <h1>The beautiful thing about learning is that no one can take it away from you.</h1>
            <p>My approach to teaching emphasizes the development of students' critical 
                thinking abilities, fostering their capacity to independently analyze and 
                reflect upon their beliefs. I actively promote an environment that 
                encourages them to expand their perspectives and be receptive to new 
                ideas. I firmly believe that teaching is a two-way process, and it offers 
                me a valuable opportunity to enhance my own understanding as well.</p>
        </div>
        <div class="photo">
            <img src="photo/myPhoto.jpeg" alt="Manob's Photo">
        </div>
    </div>

    <div class="bio">
        <h2>My Experiences</h2>
        <p> My journey as an educator commenced during my master's program at the Institute
             of Radio Physics and Electronics, University of Calcutta. I was honored with a 
             TEQIP fellowship, which entrusted me with the responsibility of mentoring 
             B.Tech students in conducting experiments and engaging in meaningful theoretical
              discussions. Subsequently, while pursuing my Ph.D. at the Indian Statistical 
              Institute, I served as a teaching assistant for the course titled 'VLSI Testing 
              & Fault-Tolerance.' This role allowed me to actively contribute to the learning
               experiences of fellow students.</p>
               <h1>Teaching Courses</h1>

               <h2>UPES, Dehradun</h2>
               <ul>
                   <li>
                       <h3>ECEG 1012 - Digital Electronics </h3>
                       <p>Course Webpage: 
                           <a href="https://upes1.gitlab.io/courses/digitalElectronics/digital.html"> B.tech (CSE), 2nd Sem, 2023-2024 </a>

                       </p>
                   </li>
                   <li>
                       <h3>MATH 370 - Industry Use Cases using Blockchain</h3>
                       <p>Course Webpage: 
                           <a href="https://upes1.gitlab.io/courses/blockChain/block.html">B.tech (CSE), 8th Sem, 2023-2024</a>
                       </p>
                   </li>
               </ul>
           
    </div>

    <div class="gallery">
        <h2>Photo Gallery</h2>
        <img src="photo/myPhoto.jpeg" alt="Photo 1">
        <img src="photo/myPhoto.jpeg" alt="Photo 2">
        <img src="photo/myPhoto.jpeg" alt="Photo 3">
        <img src="photo/myPhoto.jpeg" alt="Photo 4">
    </div>

</body>
